
*{
    margin: 0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* navbar1 */
.nav1{
    background-color: rgb(55, 56, 56);
    justify-content: space-between;
    width: 100%;
    height:40px;
    font-size: 13px;
    align-items: center;
    position:relative;
    color:white;
}
.nov1_left{
    margin-left: 20px;
}
.nov1_left img{
    position: absolute;
    top:5px;
}
.li1{
    position:absolute;
    left: 10vw;
    top:5px;
    list-style-type: none;
    font-size: 10px;
}
.li2{
    position:absolute;
    left: 10vw;
    top:16px;
    list-style-type: none;
    font-size: 11px;
}
.nov1_right{
    display: flex;
}
.div1{
    position:relative;
    margin-right: 5vw;
    width:50px
}
.spn1{
    position:absolute;
    top: 5px;
}
.div2{
    position:relative;
    margin-right: 7vw;
    width:50px
}
.spn2{
    position:absolute;
    top: 5px;
}
.div3{
    position:relative;
    margin-right: 5vw;
    width:50px
}
.spn3{
    position:absolute;
    top: 5px;
}
.div4{
    margin-right:20px ;
}
.div5{
    margin-right: 20px;
}
/* navbar2 */
nav{
    background-color: white;
    height:12vh;
    display: flex;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
}
.navlogo{
    height:12vh;
    width:12vw;
    margin-left: 20px;
}
.navul1{
    list-style-type: none;
    display: flex;
    flex:column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
nav li{
    margin-left: 20px;
}
.saletag{
    color: red;
}
.navsearch-container {
    position: relative;
    display: flex;
    width: 12vw;
    margin-left: 30px;
    height: 40px;
    margin-top: 17px;
}
input:focus{
    outline: none !important;
    
}
.navsearch-container svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
    pointer-events: none; 
    height: 20px;
    
}

.navsearch-container input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px; 
    font-family: "Nunito Sans", sans-serif;
    border: 1px solid grey;
}
.button1{
    background: rgb(255, 222, 34);
    width:15vw;
    height:7vh;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid rgb(255, 222, 34);
    border-radius: 50px;
    display: flex;
    position: relative;
}

.button1 span{
    margin-left: 40px;
    font-size: 11px;
    color: rgb(115, 55, 55);
}
.button1 img{
    margin-top: 10px;
    position: absolute;
    top:0;
left:10px;
}
.button1 li{
    list-style-type: none;
    margin-left: 30px;
    font-size: 12px;
}
.navimg2{
    margin-left: 20px;
}
/* container1 */
.carousel-item img {
    height: 70vh; /* Adjust the height as needed */
    object-fit: cover; /* Ensure images fill the area without distortion */
    width: 100%;
}
@media  (max-width:467px){
    nav{
        height:auto;
        display:list-item;
    }
    nav li{
        margin-left: 10px;
    }
    .navimg2{
        width:20px;
    }
    .button1 span{
        font-size: 7px;
       
    }
    .button1 img{
        margin-top: 10px;
        position: absolute;
        top:0;
    left:10px;
    }
    .button1 li{
        margin-left: 30px;
        font-size: 6px;
    }
    .button1{
        min-width:20vw;
        
    }
    .carousel-item img {
        height: 40vh; /* Adjust the height as needed */
        object-fit: cover; /* Ensure images fill the area without distortion */
        width: 100%;
    }

}
@media  (min-width:470) and (max-width:967px){
    
}
@media(min-width:470px) and (max-width:867px){
    nav{
        height:auto;
        display:list-item;
    }
    nav li{
        margin-left: 30px;
    }
    .navimg2{
        width:10px;
    }
    .button1 span{
        font-size: 7px;
    }
    .button1 img{
        margin-top: 10px;
        position: absolute;
        top:0;
    left:10px;
    }
    .button1 li{
        margin-left: 20px;
        font-size: 6px;
    }
    .button1{
        min-width:20vw;
        height:auto;
    }
    .carousel-item img {
        height: 40vh; /* Adjust the height as needed */
        object-fit: cover; /* Ensure images fill the area without distortion */
        width: 100%;
    }
    .navlogo{
        height:7vh;
        width:10vw;
        margin-left:0px;
    }
    }


