
*{
    margin: 0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* navbar1 */
.nav1{
    background-color: rgb(55, 56, 56);
    justify-content: space-between;
    width: 100%;
    height:40px;
    font-size: 13px;
    align-items: center;
    position:relative;
    color:white;
}
.nov1_left{
    margin-left: 20px;
}
.nov1_left img{
    position: absolute;
    top:5px;
}
.li1{
    position:absolute;
    left: 12vw;
    top:5px;
    list-style-type: none;
    font-size: 10px;
}
.li2{
    position:absolute;
    left: 12vw;
    top:16px;
    list-style-type: none;
    font-size: 11px;
}
.nov1_right{
    display: flex;
}
.div1{
    position:relative;
    margin-right: 5vw;
    width:50px
}
.spn1{
    position:absolute;
    top: 5px;
}
.div2{
    position:relative;
    margin-right: 7vw;
    width:50px
}
.spn2{
    position:absolute;
    top: 5px;
}
.div3{
    position:relative;
    margin-right: 5vw;
    width:50px
}
.spn3{
    position:absolute;
    top: 5px;
}
.div4{
    margin-right:20px ;
}
.div5{
    margin-right: 15px;
}
/* navbar2 */
nav{
    background-color: white;
    height:12vh;
    display: flex;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    position:sticky;
    top:0;
    z-index: 1;
}
.navlogo{
    height:12vh;
    width:12vw;
    margin-left: 20px;
}
.navul1{
    list-style-type: none;
    display: flex;
    flex:column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.navli1{
    margin-left: 13px;
    margin-top: 20px;
}
.saletag{
    margin-left: 13px;
    margin-top: 20px;
    color: red;
}
.navsearch-container {
    position: relative;
    display: flex;
    width: 12vw;
    margin-left: 30px;
    height: 40px;
    margin-top: 17px;
}
input:focus{
    outline: none !important;
    
}
.navsearch-container svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
    pointer-events: none; 
    height: 20px;
    
}

.navsearch-container input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px; 
    font-family: "Nunito Sans", sans-serif;
    border: 1px solid grey;
}
.button1{
    background: rgb(255, 222, 34);
    width:15vw;
    height:7vh;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid rgb(255, 222, 34);
    border-radius: 50px;
    display: flex;
    position: relative;
}

.button1 span{
    margin-left: 40px;
    font-size: 11px;
    color: rgb(115, 55, 55);
}
.button1 img{
    margin-top: 10px;
    position: absolute;
    top:0;
left:10px;
}
.button1 li{
    list-style-type: none;
    margin-left: 30px;
    font-size: 12px;
}
.navimg2{
    margin-left: 20px;
}
.container1dis{
    text-align: center;
}
/* container2 */
.carousel-item img {
    height: 70vh; /* Adjust the height as needed */
    object-fit: cover; /* Ensure images fill the area without distortion */
    width: 100%;
}
.container2{
 background-color: rgb(255, 255, 255);
 width:100%;
 height:auto;
 display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top:15vh;
    margin-bottom: 15vh;
}
.container2divs{
    width:13vw;
    height:28vh;
    background-color: rgb(127, 123, 123);
    margin-left: 30px;
    border-radius: 360px;
}
.container2divs img{
    width: 100%;
    height: 100%;
    border-radius:360px ;
}
/* container3 */
.container3{
    height: auto;
    background-color: #F5E7A2;
    display: flex;
    flex-wrap: wrap;

}
.container3divs1{
    width: 40vw;
    background-color: #F5E7A2;
    margin:30px 0px 30px 70px;
}
.ctnr3div1img{
    width:8vw;
    height:30px;
    background-color: antiquewhite;
    border-radius: 5px;
}
.ctnr3div1child{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.ctnr3div1img img{
    width: 100%;
    height:100%;
    border-radius: 5px;
}
.container3divs2{
    background-color: bisque;
    width:13vw;
    height:30vh;
    margin-left: 30px;
}
.container3divs2 img{
    width: 100%;
    height:100%;
}
.container3divs3{
    width:25vw;
    background-color: aqua;
    height:30vh;
    margin-left: 50px;
}
.container3divs3 img{
    width:100%;
    height:100%;
}
/* .container4 */
.container4{
    height:13vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4img{
    background-color: rgb(167, 103, 103);
    min-width:6vw;
    height:13vh;
}
.container4 hr{
    width: 100%;
}
.container4 img{
    width: 100%;
    height:100%;

}
.container4dis{
    text-align: center;
}

@media  (max-width:467px){
    /* navbar */
    nav{
        height:auto;
        display:list-item;
        position: inherit;
    }
    .navlogo{
        height:12vh;
        width:40vw;
    }
    .navli1{
        margin-left: 10px;
    }
    .navimg2{
        width:50px;
    }
    .button1 span{
        font-size: 7px;
       
    }
    .button1 img{
        margin-top: 10px;
        position: absolute;
        top:0;
    left:10px;
    }
    .button1 li{
        margin-left: 30px;
        font-size: 6px;
    }
    .button1{
        min-width:40vw;
        
    }
    /* container1 */
    .carousel-item img {
        height: 40vh; /* Adjust the height as needed */
        object-fit: cover; /* Ensure images fill the area without distortion */
        width: 100%;
    }
    /* container2 */
    .container2divs{
        width:15vw;
        height:10vh;
        margin:10px;
    }
    /* container3 */
    .container3{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .container3divs1{
        width: 70vw;
        margin:30px 0px 30px 70px;
    }
    .container3divs2{
        width:50vw;
        height:30vh;
    }
    .container3divs3{
        width:40vw;
        height:30vh;
    }

}
@media(min-width:470px) and (max-width:867px){
    /* navbar */
    nav{
        height:auto;
        display:list-item;
        position: inherit;
        
    }
    .navli1{
        margin-left: 30px;
    }
    .navimg2{
        width:70px;
        height: 100px;
    }
    .button1 span{
        font-size: 5px;
    }
    .button1 img{
        margin-top: 10px;
        position: absolute;
        top:0;
    left:10px;
    }
    .button1 li{
        margin-left: 50px;
        font-size: 7px;
    }
    .button1{
        min-width:30vw;
        height:auto;
    }
    .navlogo{
        height:7vh;
        width:10vw;
        margin-left:0px;
    }
    /* container1 */
    .carousel-item img {
        height: 40vh; /* Adjust the height as needed */
        object-fit: cover; /* Ensure images fill the area without distortion */
        width: 100%;
    }
    /* container2 */
    .container2divs{
        width:20vw;
        height:22vh;
        margin:10px
    }
    /* container3 */
    .container3divs1{
        width: 70vw;
        margin:30px 0px 30px 70px;
    }
    .container3divs2{
        width:40vw;
        height:30vh;
    }
    .container3divs3{
        width:40vw;
        height:30vh;
    }
    }


