*{margin:0;
}
.parent{
    background-color: aquamarine;
    display:grid;
    /* grid-template-columns: repeat(5,200px);
    grid-template-rows: repeat(2,100px); */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,20px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    height:100vh;
}
.parent>div{
    background-color: burlywood;
    border:1px solid white;
}

/* .child1{
    grid-column-start:1 ;
    grid-column-end:4 ;
}

.child6{
    grid-row-start: 2;
    grid-row-end:5;
}

.child7{
    grid-column-start:1 ;
    grid-column-end:4 ;
} */
@media(min-width:576px)and (max-width:767.98px){
    .parent{
    grid-template-columns: repeat(5,50px);
    grid-template-rows: repeat(2,20px);

    }
    .parent>div{
        background-color: rgb(255, 47, 0);
    }
}