*{
    margin: 0;
    padding: 0;
    
    }
    
.parent{
    text-align: justify;
    
    background-color:rgb(49, 48, 45);
    
    display: flex;
    
    justify-content: center;
    
    min-height: 100vh;
    
    align-items: center;
    
    flex-wrap: wrap;
}
    .parent>div{
    
    width: 200px;
    
    height: 300px;
    
    background-color:rgb(0, 0, 0);
    
    border: 2px solid â˜ black;
    
    margin: 20px;
    
    }

    .parent>h2{
        text-align: right;
    }
    
    .image{
    
    width: 100%;
    
    height: 80%;
    
    }
    
    .content{
    
    height: 20%;
    
    display: flex;
    
    justify-content:flex-start center;
    
    align-items: center;
    
    }
    
    img{
    
    width: 100%;
    
    height: 100%;
    
    object-fit: cover;
    
    }
    .container{
        width: 100vw;
        height: 50vh;
        align-items: center;
        justify-content: center;
    }

    .container>button{
        justify-content:center
    }


    .nav{

        padding: 20px;    
        display: flex;   
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        color: rgb(246, 182, 182);
        font-size: 20px;
        position: sticky;
        top: 0;
        
        }
        
        .left{
        
        display: flex;
        
        }
        
        .left>h4{
        
        margin-right: 20px;
    }
    .content>button{
        margin: auto;
        border: none;
    }

    .content>p{
        margin: 10px;
        padding-right: 0;
        color: azure;
    }

    .pr{
        background-color: rgb(175, 247, 247);
        text-align: center;
    }
